body{
    background:url("../img/bg.jpg");
    background-size:cover;              /* 让背景图基于容器大小伸缩 */
    background-attachment:fixed;        /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */    //此条属性必须设置否则可能无效/
    /*background-color:#CCCCCC;*/
}
h1, h2{
    /*font-size: large;*/
    text-align-all: center;
    color: antiquewhite;
    text-effect: none;
}
div{
    width: 500px;
    margin: 100px auto;
}